<div class="container py-4 mb-2 mb-sm-0 pb-sm-5 row mx-xl-auto">
  <h3><%= params[:slug] %></h3>
  <div class="row mt-5">
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body top-middle">
          <h2><%= "#{t("views.labels.rank")}: #{@rank}" %></h2>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body">
          <p class="card-text"><%= "#{t("views.labels.total_count")}: " %> <span class="float-end"><%= @collection_data.size %></span></p>
          <p class="card-text"><%= "#{t("views.labels.successful_count")}: " %> <span class="float-end"><%= @collection_data.successful.size %></span></p>
          <p class="card-text"><%= "#{t("views.labels.failed_count")}: "%> <span class="float-end"><%= @collection_data.failed.size %></span></p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="card" style="height: 130px">
        <div class="card-body">
          <p class="card-text"><%= "#{t("views.labels.revenue")}: "%> <span class="float-end text-<%= change_text_color(@collection_data.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @collection_data.sum(&:crypto_revenue)} #{@collection_data.first.sold_coin}" %></p>
          <p class="card-text"><%= "#{t("views.labels.profit")}: " %> <span class="float-end text-<%= change_text_color(@collection_data.successful.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @collection_data.successful.sum(&:crypto_revenue)} #{@collection_data.first.sold_coin}" %></p>
          <p class="card-text"><%= "#{t("views.labels.loss")}: " %> <span class="float-end text-<%= change_text_color(@collection_data.failed.sum(&:crypto_revenue).to_f) %>"><%= "#{decimal_format @collection_data.failed.sum(&:crypto_revenue)} #{@collection_data.first.sold_coin}" %></p>
        </div>
      </div>
    </div>
  </div>
  <div>
  <table class="table">
    <thead>
      <tr>
        <th>Flipers</th>
        <th><%= t("views.labels.revenue") %></th>
      </tr>
    </thead>
    <% @top_flipers.each do |nft| %>
      <tr>
        <td><%= link_to nft[0], fliper_detail_nft_flip_records_path(fliper_address: nft[0]) %></td>
        <td class="text-<%= change_text_color(nft[2].to_f) %>"><%= "#{decimal_format nft[2]} #{nft[3]}" %></td>
      </tr>
    <% end %>
  </table>
  <div class="chart">
    <%= render "flip_data_chart" %>
    <%= render "flip_count_chart" %>
    <%= form_tag collection_detail_nft_flip_records_path, class: "period_targets", method: "GET" do %>
      <div class="col-12">
        <%= hidden_field_tag "slug", params[:slug] %>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <%= radio_button_tag :trade_period, "day", params[:trade_period] == "day", class: "btn-check", id: "btnradio1trade" %>
          <label class="btn btn-outline-primary day" for="btnradio1trade">日</label>
          <%= radio_button_tag :trade_period, "week", params[:trade_period] == "week", class: "btn-check", id: "btnradio2trade" %>
          <label class="btn btn-outline-primary week" for="btnradio2trade">周</label>
          <%= radio_button_tag :trade_period, "month", params[:trade_period] == "month", class: "btn-check", id: "btnradio3trade" %>
          <label class="btn btn-outline-primary month" for="btnradio3trade">月</label>
        </div>
      </div>
    <% end %>

    <%= render "trade_chart" %>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <h3><%= t("views.labels.listing_items") %></h3>
      <div id="listing_items">
        <%= render "listing_items" %>
      </div>
      <div class="p-4">
        <%= link_to t("views.labels.more"), "#", class: "btn btn-primary btn-block loadMoreBtn", remote: true, data: {source: "listing"} %>
      </div>
    </div>
    <div class="col-6">
      <h3><%= t("views.labels.trade_records") %></h3>
      <div id="trade_list">
        <%= render "trade_records" %>
      </div>
      <div class="p-4">
        <%= link_to t("views.labels.more"), "#", class: "btn btn-primary btn-block loadMoreBtn", remote: true, data: {source: "trade"} %>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag :listing_current_page, @listing_items.current_page %>
<%= hidden_field_tag :trade_current_page, @trade_records.current_page %>
<%= hidden_field_tag :slug, params[:slug] %>