<div class="container home">
  <section class="row mb-5">
    <div class="col-6">
      <h1><%= t("views.labels.desc_1") %></h1>
      <div>
        <h3><%= t("views.labels.desc_2") %></h3>
      </div>
    </div>
    <div class="col-6">
      <a href="/nft_flip_records/nft_analytics?slug=<%= @top_collection[0] %>">
        <div style="height:200px;">
          <%= image_tag @top_collection[6], class: "top-banner" if @top_collection[6] %>
        </div>
      </a>
      <div class="text-black ms-3 text-end">
        <h3 class="pt-3 mb-3 fw-bolder"><%= @top_collection[0] %></h3>
        <p>
          <%= t("views.labels.successful_rate") %>: <span><span>◎</span><%= "#{decimal_format @top_collection[10]} %" %></span>
        </p>
        <p>
          <%= t("views.labels.average_revenue") %>: <span><span>◎</span><%= "#{decimal_format @top_collection[9]} #{@top_collection[4]}" %></span>
        </p>
      </div>
    </div>
  </section>
  <section class="mx-4">
    <h2 class="text-center"><%= t("views.title.latest_10_flip_data") %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>NFT</th>
          <th><%= t("views.labels.bought_price") %></th>
          <th><%= t("views.labels.sold_price") %></th>
          <th><%= t("views.labels.revenue") %></th>
          <th><%= t("views.labels.date_notice") %></th>
          <th><%= t("views.labels.gap") %></th>
          <th><%= t("views.labels.chain") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render "records" %>
      </tbody>
    </table>
  </section>
  <section class="mt-5 row justify-content-center mx-4">
    <h2 class="text-center mb-3"><%= t("views.title.top_collections") %></h2>
    <% @top_collections.each_with_index do |collection, idx| %>
      <div class="card col-4 col-sm-4 col-lg-4 col-xs-4 col-xl-4 me-5" style="max-width:25%">
        <div class="card-body">
          <div class="logo">
            <span class="badge"><%= idx + 1 %></span>
            <%= image_tag collection[8], size: "60x60", class: "rounded-circle" if collection[8] %>
            <%= collection[0] %>
          </div>
          <div class="mt-3">
            <%= t("views.labels.successful_rate") %>: <span><span>◎</span><%= "#{decimal_format collection[10]} %" %></span>
          </div>
          <div class="mt-3">
            <%= t("views.labels.average_revenue") %>: <span><span>◎</span><%= "#{decimal_format collection[9]} #{collection[4]}" %></span>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>