<div class="container mb-2 mb-sm-0 pb-sm-5 row mx-xl-auto">
  <h3><%= params[:slug] %></h3>
  <div class="chart">
    <%= form_tag live_view_nft_flip_records_path, class: "period_targets mt-3", method: "GET" do %>
      <div class="col-12">
        <%= hidden_field_tag "slug", params[:slug] %>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <%= radio_button_tag :trade_period, "day", params[:trade_period] == "day", class: "btn-check", id: "btnradio1trade" %>
          <label class="btn btn-outline-primary day" for="btnradio1trade"><%= t("datetime.prompts.day") %></label>
          <%= radio_button_tag :trade_period, "week", params[:trade_period] == "week", class: "btn-check", id: "btnradio2trade" %>
          <label class="btn btn-outline-primary week" for="btnradio2trade"><%= t("datetime.prompts.week") %></label>
          <%= radio_button_tag :trade_period, "month", params[:trade_period] == "month", class: "btn-check", id: "btnradio3trade" %>
          <label class="btn btn-outline-primary month" for="btnradio3trade"><%= t("datetime.prompts.month") %></label>
        </div>
      </div>
    <% end %>

    <%= render "trade_chart" %>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <h3><%= t("views.labels.listing_items") %></h3>
      <div id="listing_items">
        <%= render "listing_items" %>
      </div>
      <div class="p-4">
        <%= link_to t("views.labels.more"), "#", class: "btn btn-primary btn-block loadMoreBtn", remote: true, data: {source: "listing"} %>
      </div>
    </div>
    <div class="col-6">
      <h3><%= t("views.labels.trade_records") %></h3>
      <div id="trade_list">
        <%= render "trade_records" %>
      </div>
      <div class="p-4">
        <%= link_to t("views.labels.more"), "#", class: "btn btn-primary btn-block loadMoreBtn", remote: true, data: {source: "trade"} %>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag :listing_current_page, 1 %>
<%= hidden_field_tag :trade_current_page, 1 %>