<div class="container row text-center fliperPass col-8 mx-auto">
  <section>
    <h1>Fliper Pass</h1>
    <div class="mx-5 mt-4">
      <p><%= t("views.labels.fliper_pass_intro_1") %></p>
      <p><%= t("views.labels.fliper_pass_intro_2") %></p>
    </div>
  </section>
  <section>
    <h1 class="mt-5">Features</h1>
    <div class="row mt-5">
      <div class="col-7 my-auto">
        <h2>Flip Flow</h2>
        <p><%= t("views.labels.flip_flow_intro") %></p>
      </div>
      <div class="col-5">
        <%= image_tag "flipflow.png", width: "100%" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5">
        <%= image_tag "trending1.png", width: "100%" %>
        <%= image_tag "trending2.png", width: "100%" %>
        <%= image_tag "trending3.png", width: "100%" %>
      </div>
      <div class="col-7 my-auto">
        <h2>Trending</h2>
        <p><%= t("views.labels.trending_intro") %></p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-7 my-auto">
        <h2>Fliper</h2>
        <p><%= t("views.labels.fliper_intro") %></p>
      </div>
      <div class="col-5">
        <%= image_tag "fliper1.png", width: "100%" %>
        <%= image_tag "fliper2.png", width: "100%" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5">
        <%= image_tag "liveview.png", width: "100%" %>
      </div>
      <div class="col-7 my-auto">
        <h2>Live View</h2>
        <p><%= t("views.labels.live_view_intro") %></p>
      </div>
    </div>
  </section>
  <section class="row justify-content-center">
    <div class="col-7">
      <h1 class="my-5">RoadMap</h1>
      <ul class="list-group text-start">
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_1") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_2") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_3") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_4") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_5") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square align-middle me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
          <%= t("views.labels.roadmap_6") %>
        </li>
      </ul>
    </div>
  </section>
</div>