<div class="container row">
  <h1 class="mt-3">Fliper Pass</h1>
  <div>
    <p>Fliper Pass 作为Fliper NFT 的通行证， 拥有即可使用目前平台的所有的功能， 包括实时的flip 数据， 最新的flip 趋势， 发现适合flip的NFT， 挖掘flip 高手， flip 数据统计以及NFT 实时交易数据。</p>
    <p>Fliper Pass 分为银卡， 金卡 和 白金卡， 目前推出银卡， 能够使用平台的所有功能。 未来随着新功能的推出， 可以对现有的会员卡进行升级， 从而享有新的权益。</p>
  </div>
  <h2 class="mt-3">Flip Flow</h2>
  <div>
    <p>查看最新的flip数据， 寻找flip的机会</p>
    <%= image_tag "flipflow.png", width: "100%" %>
  </div>
  <h2 class="mt-3">Trending</h2>
  <div>
    <p>发现新的flip 趋势， 看看大家都在哪些NFT中进行flip，分析flip的成功率， 找到适合你的机会</p>
    <%= image_tag "trending1.png", width: "100%" %>
    <%= image_tag "trending2.png", width: "100%" %>
    <%= image_tag "trending3.png", width: "100%" %>
  </div>
  <h2 class="mt-3">Fliper</h2>
  <div>
    <p>找到隐藏的Fliper 高手， 看看他们都是怎么操作的， 从而形成你自己的风格</p>
    <%= image_tag "fliper1.png", width: "100%" %>
    <%= image_tag "fliper2.png", width: "100%" %>
  </div>
  <h2 class="mt-3">Live View</h2>
  <div>
    <p>观察NFT的实时挂单情况， 进行NFT的交易</p>
  </div>
</div>