<div class="container row text-center fliperPass mx-auto">
  <section class="row justify-content-center">
    <div class="col-8">
      <h1 class="my-5">Q & A</h1>
      <ul class="list-group text-start">
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_1") %></p>
          A: <%= t("views.labels.answer_1") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_2") %></p>
          A: <%= t("views.labels.answer_2") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_3") %></p>
          A: <%= t("views.labels.answer_3") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_4") %></p>
          A: <%= t("views.labels.answer_4") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_5") %></p>
          A: <%= t("views.labels.answer_5") %>
        </li>
        <li class="list-group-item bg-none border-0">
          <p>Q: <%= t("views.labels.question_6") %></p>
          A: <%= t("views.labels.answer_6") %>
        </li>
      </ul>
    </div>
  </section>
</div>