<div class="container row text-center staking col-10 mx-auto">
  <div class="col-6">
    <%= label_tag "token_id" %>
    <%= number_field_tag "stakeTokenId" %>
    <a class="btn btn-primary stakeBtn"><%= t("views.actions.stake") %></a>
  </div>
  <div class="col-6">
    <%= label_tag "token_id" %>
    <%= number_field_tag "unstakeTokenId" %>
    <a class="btn btn-primary unstakeBtn"><%= t("views.actions.claim") %></a>
  </div>
</div>