<!DOCTYPE html>
<html>
  <head>
    <title>Nft-Fliper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://app.web3ads.net/main.js" async></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZYBEV4DG6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JZYBEV4DG6');
    </script>
  </head>

  <body data-theme="dark">
    <div class="wrapper">
      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-brand" href="/">
            <%= image_tag "logo.png", size: "50x50" %>
          </a>
          <div>
            <select class="js-data-example-ajax" placeholder="Search...">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </select>
					</div>
          <div class="sidebar-item <%= @page_index == 1 ? 'active' : '' %>">
            <%= link_to root_path, class: "sidebar-link" do %>
              <span class="align-middle"><%= t("views.headers.home") %></span>
            <% end %>
          </div>
          <div class="sidebar-item <%= @page_index == 2 ? 'active' : '' %>">
            <%= link_to trending_nft_flip_records_path, class: "sidebar-link" do %>
              <span class="align-middle"><%= t("views.headers.trending") %></span>
            <% end %>
          </div>
          <div class="sidebar-item <%= @page_index == 3 ? 'active' : '' %>">
            <%= link_to flip_flow_nft_flip_records_path, class: "sidebar-link" do %>
              <span class="align-middle">Flip Flow</span>
            <% end %>
          </div>
          <div class="sidebar-item <%= @page_index == 4 ? 'active' : '' %>">
            <%= link_to fliper_pass_nft_path, class: "sidebar-link" do %>
              <span class="align-middle">Fliper Pass NFT</span>
            <% end %>
          </div>
          <div class="sidebar-item <%= @page_index == 5 ? 'active' : '' %>">
            <%= link_to staking_path, class: "sidebar-link" do %>
              <span class="align-middle"><%= t("views.headers.stake") %></span>
            <% end %>
          </div>
          <div class="sidebar-item <%= @page_index == 6 ? 'active' : '' %>">
            <%= link_to mint_path, class: "sidebar-link" do %>
              <span class="align-middle">Mint</span>
            <% end %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <div class="align-items-center loginBtns">
                  <div class="navbar-tool dropdown connect-btn">
                    <%= link_to "Connect Metamask", "#", class: "btn btn-warning", id: "loginBtn" %>
                  </div>
                  <div class="navbar-tool dropdown hide">
                    <a href="#" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                      <h4 id="login_address" class="d-inline-block"></h4>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <%= link_to "#", class: "dropdown-item", id: "logoutBtn" do %>
                        <i class="ai-log-out fs-base me-2"></i>
                        <span>Sign out</span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <div class="navbar-tool dropdown">
                  <a href="#" role="button" class="nav-flag dropdown-toggle" data-bs-toggle="dropdown">
                    <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe align-middle me-2"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end text-end">
                    <% if session[:locale] == "zh-CN" %>
                      <li>
                        <%= link_to "English", request.parameters.merge({locale: "en"}), class: "dropdown-item" %>
                      </li>
                    <% else %>
                      <li>
                        <%= link_to "中文", request.parameters.merge({locale: "zh-CN"}), class: "dropdown-item" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <main class="content">
          <%= render "layouts/notices" %>
          <%= yield %>
        </main>
        <footer class="footer">
          <div class="py-4 py-md-3">
            <div class="container d-md-flex align-items-center justify-content-center pt-3">
                <p class="fs-sm pt-2 mb-3"><span class="text-black opacity-50 me-1">© All rights reserved. Made by Coinbay Networks, Inc</span></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div id="spinner">
      <%= image_tag("loading.svg") %>
    </div>
  </body>
</html>
